
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;

    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%),
                    linear-gradient(0deg, #303030, #303030),
                    linear-gradient(0deg, #BABABA, #BABABA);
    background-repeat: no-repeat;
}

    #main{
        width: 100%;
        height: 100px;
        border: 1px solid black;
        
        background-color: #303030;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid #BABABA;
    }

        #main div a{
            font-family: "Inter", sans-serif;
            font-size: 25px;
            font-weight: 600;
            color: white;
            text-decoration: none;
            text-align: center;
        }

        #main div a:hover{
            color: #cccccc;
        }

        #menu{
            width: 45%;

            display: flex;
            justify-content: space-around;
            align-items: center;

            margin-left: 2%;
        }

        #main button{
            margin-right: 5%;

            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: white;

            background-color: #0C70F2;

            width: 80px;
            height: 39px;
            border: 1px solid black;

            box-shadow: 3px 2px 4px 0px #0c70f240;

            cursor: pointer;
        }

    header h1{
        font-family: "Inter", sans-serif;
        font-size: 80px;
        font-weight: 900;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }

    header h2{
        font-family: "Inter", sans-serif;
        font-size: 40px;
        font-weight: 500;
        color: white;
        text-align: center;
    }

    #dnc-destac{
        font-weight: 700;
    }

    .textDestac{
        color: white;
        background: black;
    }